<!DOCTYPE html>
<html lang="ja">
<head>
<title>ISUCON5 決勝ポータル</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
</head>

<body role="document">
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">ISUCON5 決勝</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"><%= if team_id then team_id + ": " + team_name else "LOGIN" end %></a></li>
      <li><a href="/">トップ</a></li>
      <% if team_id && team_id >= 0 %><li><a href="/team">チーム情報変更</a></li><% end %>
    </ul>
  </div><!--/.nav-collapse -->
</div>
</nav>

<div class="container theme-showcase" role="main">

  <%== yield %>

</div>

<% if team_id %>
<script type="text/javascript">
  var my_team_id = <%= guest_priv ? -1 : team_id.to_i %>;
</script>
<% end %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<% if team_id && enable_actions %>
<script src="/js/isucon5portal.js"></script>
<% end %>
</body>
</html>
