<div class="jumbotron">
  <h1>ISUCON5 決勝ポータル</h1>
  <p>参加者以外の方は guest/guest で参照専用ログインが可能です</p>
</div>

<div class="row" id="login-box">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form method="POST" action="/login">
      <div class="form-group">
        <div class="form-group">
          <label for="inputAccount">チームアカウント(team99)</label>
          <input type="text" class="form-control" id="inputAccount" name="account" value="" size="30" />
        </div>
        <div class="form-group">
          <label for="inputPassowrd">パスワード</label>
          <input type="password" class="form-control" id="inputPassword" name="password" value="" size="30" />
        </div>
        <button type="submit" class="btn btn-default">ログイン</button>
      </div>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
